.row-container {
    margin-left: 20px;
    color: white;
  }
  
  .row-cards {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    /* padding: 20px; */
    /* transform: scale(0.9); */
  }
  
  .row-cards::-webkit-scrollbar {
    display: none;
  }
  
  .movie-card {
    object-fit: contain;
    width: 100%;
    max-height: 300px;
    margin-bottom: 10px;
    transform: scale(0.9);
    transition: transform 450ms;
  }
  
  .movie-card-large {
    object-fit: contain;
    width: 100%;
    max-height: 350px;
    margin-bottom: 10px;
    transition: transform 450ms;
  }
  
  .movie-card:hover {
    transform: scale(1.0);
  }